<html>
  <body>
  Hello World! <?php echo " and Hello PHP!"; ?><br/><br/>

  PHP Extensions:
  <?php
  print_r(get_loaded_extensions());
  ?>
  <br/><br/>

  DB Connection Test:
  <br/>
  <?php
    <% @databases.each_with_index do |database, index|

    if database['db'].instance_of?(Chef::Node::ImmutableArray) then
      webapp_dbs = database['db']
    else
      webapp_dbs = []
      webapp_dbs << database['db']
    end

    webapp_dbs.each_with_index do |webapp_db, index2|

    %>
      $servername<%= index %>_<%= index2 %>   = "<%= @db_domain %>";
      $username<%= index %>_<%= index2 %>   = "<%= database['user'] %>";
      $password<%= index %>_<%= index2 %>   = "<%= database['password'] %>";
      $database<%= index %>_<%= index2 %>   = "<%= webapp_db %>";

      // Create connection
      $conn<%= index %>_<%= index2 %> = new mysqli($servername<%= index %>_<%= index2 %>, $username<%= index %>_<%= index2 %>, $password<%= index %>_<%= index2 %>, $database<%= index %>_<%= index2 %>);

      // Check connection
      if ($conn<%= index %>_<%= index2 %>->connect_error) {
        echo ("Connection failed to host:<%= @db_domain %> database:<%= webapp_db %> error:" . $conn<%= index %>_<%= index2 %>->connect_error . "<br/>");
      }else{
        echo ("Connected to host:<%= @db_domain %> of database:<%= webapp_db %> successfully<br/>");
      }
    <% end
    end %>
  ?>
  <br/><br/>

  Memcached Connection Test:
  <?php
    $m = new Memcached();
    <% node['w_memcached']['ips'].each do |ip| %>
    $m->addServer('<%= ip %>', 11211);
    <% end %>
    echo "Setting <br/> \$m->set('foo', 100);  \$m->get('foo') Result:";
    $m->set('foo', 100);
    var_dump($m->get('foo'));
  ?>

  </body>
</html>